---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---
* = <em>online</em>
<h2 style="text-align:center;"><strong>APA Symposia</strong></h2>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2 style="text-align:center;"><strong>Specialist Conferences</strong></h2>
<ul>
 	<li><strong>2021</strong> Association of Symbolic Logic: South Bend, Indiana*
<ul>
 	<li>"The genealogy of "v""</li>
</ul>
</li>
 <ul>
 	<li><strong>2021</strong> Bertrand Russell Society: New Britain, Connecticut*
<ul>
 	<li>"The propositional logic of <em>Principia</em> in <em>Coq</em>"</li>
</ul>
</li>
 	<li><strong>2021</strong> Canadian Philosophical Association: Edmonton, Alberta, Canada*
<ul>
 	<li><em>"Principia</em>'s logic as conceptual engineering"</li>
</ul>
</li>
 	<li><strong>2021</strong> Canadian Society for History and Philosophy of Science: Edmonton, Alberta, Canada*
<ul>
 	<li>"Dorothy Wrinch's original contributions to set theory in the 1920s"</li>
</ul>
</li>
 	<li><strong>2021</strong> Bertrand Russell Research Centre Workshop: Russell &amp; Women, March 5-6: Hamilton, Ontario, Canada*
<ul>
 	<li>"Dorothy Wrinch and Bertrand Russell's promotion of his other students"</li>
</ul>
</li>
 	<li><strong>2020 </strong>TiLPS History of Analytic Philosophy Workshop, December 14-15: Tilburg, Netherlands*
<ul>
 	<li>"The Lone Wrangler: Wrinch's development of <em>Principia</em>'s second volume"</li>
</ul>
</li>
 	<li><strong>2020 </strong>European Society for Analytic Philosophy, August 24-28: Utrecht, Netherlands*
<ul>
 	<li>"The Heiress to Logical Atomism: Dorothy Wrinch"</li>
</ul>
</li>
 	<li><strong>2020</strong> Bertrand Russell Society, June 19-20: New Britain, Connecticut*
<ul>
 	<li>"Generalized Molecular Formulas in Logical Atomism"</li>
</ul>
</li>
 	<li><strong>2019 </strong>Bertrand Russell Society, June 20-22: Amherst, Massachusetts
<ul>
 	<li>"Dorothy Wrinch: The First Female Logical Atomist"</li>
</ul>
</li>
 	<li><strong>2019 </strong>Society for the Study of the History of Analytical Philosophy, June 17-19: Boston, Massachusetts
<ul>
 	<li>"Logical Atomism as Term Busting"</li>
</ul>
</li>
 	<li><strong>2019 </strong>Society for Exact Philosophy, May 17-19: Toronto, Canada
<ul>
 	<li>"A Modal Logic without Modality"</li>
</ul>
</li>
 	<li><strong>2019 </strong>British Society for the History of Philosophy, April 24-26: London, United Kingdom
<ul>
 	<li>"The Search for Logical Forms: Logical Atomism as Term Busting"</li>
</ul>
</li>
 	<li><strong>2019 </strong>Complutense University of Madrid—King’s College London Joint Philosophy Workshop "<em>The Philosophy of Logical Atomism</em> 1918-2018", January 28-29: Madrid, Spain
<ul>
 	<li>"Russell's Problem of General Molecular Facts"</li>
</ul>
</li>
 	<li><strong>2018 </strong>International Wittgenstein Symposium, August 5-11: Kirchberg am Wechsel, Austria
<ul>
 	<li>"Looking for Wittgenstein's Logical Atomism"</li>
</ul>
</li>
 	<li><strong>2018</strong> Bertrand Russell Society, June 22-24: Hamilton, Canada
<ul>
 	<li>"Russell's and Wittgenstein's Differing Senses of "Tautology""</li>
</ul>
</li>
 	<li><strong>2018 </strong>Society for the Study of the History of Analytical Philosophy, June 19-21: Hamilton, Canada
<ul>
 	<li>"Computer Verification for Historians of Philosophy: A Computer-Assisted, Historically-Faithful Rewrite of <i>Principia Mathematica</i>"</li>
</ul>
</li>
 	<li><strong>2018 </strong>Association for Symbolic Logic (North American Meeting), May 16-19: Macomb, Illinois
<ul>
 	<li>"A theorem of infinity for <i>Principia Mathematica</i>"</li>
</ul>
</li>
 	<li><strong>2017 </strong>Bertrand Russell Society, June 2-4: New Britain, Connecticut
<ul>
 	<li>"The Nature of Russell's Sense-Data"</li>
</ul>
</li>
 	<li><strong>2017</strong> Society for the Study of the History of Analytical Philosophy, May 8-10: Calgary, Canada
<ul>
 	<li>"The Nature of Russell's Sense-Data"</li>
</ul>
</li>
 	<li><strong>2017 </strong>Society for Exact Philosophy, May 5-7: Calgary, Canada
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Bertrand Russell Society, June 24-26: Rochester, New York
<ul>
 	<li>"A Theorem of Infinity for <i>Principia Mathematica</i>"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Society for the Study of the History of Analytical Philosophy, June 16-18: Denver, Colorado
<ul>
 	<li>"A Theorem of Infinity for <i>Principia Mathematica</i>"</li>
</ul>
</li>
 	<li><strong>2015</strong> Bertrand Russell Society, June 5-7: Dublin, Ireland
<ul>
 	<li>"<i>Newman v. Russell</i>"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Society for the Study of the History of Analytical Philosophy, June 4-6: Dublin, Ireland
<ul>
 	<li>"On "Vagueness""</li>
</ul>
</li>
</ul>
<h2 style="text-align:center;"><strong>Regional Conferences</strong></h2>
<ul>
 	<li><strong>2021</strong> World Logic Day in Alberta: Calgary, Alberta, Canada*
<ul>
 	<li>"A theorem of infinity for <em>Prin<span class="texhtml">ℤ</span>ipia Mathematica</em>"</li>
</ul>
</li>
 	<li><strong>2019 </strong>APA Central Division, February 20-23: Denver, Colorado
<ul>
 	<li>"Russell's Problem of General Molecular Facts"</li>
</ul>
</li>
 	<li><strong>2018 </strong>Illinois Philosophical Association, November 2-3, 2018: Charleston, Illinois
<ul>
 	<li>"A Case Study in Formalizing Contingent <em>A Priori</em> Claims"</li>
</ul>
</li>
 	<li><strong>2018 </strong>Minnesota Philosophical Society, October 13: Rochester, Minnesota
<ul>
 	<li>"A Case Study in Formalizing Contingent <em>A Priori</em> Claims"</li>
</ul>
</li>
 	<li><strong>2018 </strong>APA Central Division, February 23: Chicago, Illinois
<ul>
 	<li>"Logic, though not our master, will yet be taken as our guide: Logic and Metaphysics"</li>
 	<li>"Was Wittgenstein a Russellian Logical Atomist in 1913-1916?"</li>
</ul>
</li>
 	<li><strong>2017 </strong>Midsouth Philosophy Conference, March 31-April 1: Memphis, Tennessee
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2017 </strong>New Mexico-Texas Philosophical Society, March 24-26: Albuquerque, New Mexico
<ul>
 	<li>"Against Sense-Data as Structured Universals"</li>
</ul>
</li>
 	<li><strong>2017 </strong>APA Central Division, March 2: Kansas City, Missouri
<ul>
 	<li>"The Logical Atomism of Bertrand Russell"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Illinois Philosophical Association, November 5-6: East Peoria, Illinois
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Central States Philosophical Association, October 28-29: Lincoln, Nebraska
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Philosopher's Cocoon Philosophy Conference, October 8-9: Tampa, Florida
<ul>
 	<li>"For Inclusive Logic"</li>
</ul>
</li>
 	<li><strong>2016 </strong>APA Central Division, March 3: Chicago, Illinois
<ul>
 	<li>"A Theorem of Infinity for <i>Principia Mathematica</i>"</li>
 	<li>"On Newman's Twin Objections to Russell's Structural Realism"</li>
</ul>
</li>
 	<li><strong>2016 </strong>Kansas Philosophical Society, February 13: Pittsburg, Kansas
<ul>
 	<li>"Against Sense Data as Structured Universals"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Indiana Philosophical Association, November 6-7: Richmond, Indiana
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Central States Philosophical Association, November 6-7: Lexington, Kentucky
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>University of Nevada-Reno Graduate Philosophy Conference, October 10-11: Reno, Nevada
<ul>
 	<li>"On Theodorus"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Northern New England Philosophical Association, September 25-26: Lewiston, Maine
<ul>
 	<li>"Concerning <i>On Dreams</i> 459b24-460a26"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Kentucky Philosophical Association Summer Workshop, July 23-24: Danville, Kentucky
<ul>
 	<li>"Concerning <i>On Dreams</i> 459b24-460a26"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Kent State Philosophy Graduate Student Conference, March 14: Kent, Ohio
<ul>
 	<li>"On the Analysis of Soritical Predicates"</li>
</ul>
</li>
 	<li><strong>2015 </strong>Georgia Philosophical Society, January 31, 2015: Atlanta, Georgia
<ul>
 	<li>"On Theodorus"</li>
</ul>
</li>
 	<li><strong>2014</strong> Midsouth Philosophy Conference, February 21-22: Memphis, Tennessee
<ul>
 	<li>"An Emotivist Natural Law Jurisprudence"</li>
</ul>
 </li>
 </ul>

